<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa Interactivo con watchtoweerr22</title>
    <link rel="stylesheet" href="/static/CSS/index.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">Guía de Turismo</div>
        <div class="menu">
            <a href="/">Inicio</a>
            <a href="/destacados">Destacados</a>
            <a href="/formulario">Formulario</a>
            <a href="/calculadora">Calculadora</a>
        </div>
    </div>
    <div class="title-bar">
        Mapa Interactivo
    </div>
    <img src="/static/IMG/mapa.jpg" alt="Mapa del mundo" class="fullscreen-img">
    <a href="https://en.wikipedia.org/wiki/France" class="country-link france" target="_blank">Francia</a>
    <a href="https://en.wikipedia.org/wiki/United_States" class="country-link usa" target="_blank">Estados Unidos</a>
    <a href="https://en.wikipedia.org/wiki/Australia" class="country-link australia" target="_blank">Australia</a>
    <a href="https://en.wikipedia.org/wiki/Egypt" class="country-link egypt" target="_blank">Egipto</a>
    <a href="https://en.wikipedia.org/wiki/Germany" class="country-link germany" target="_blank">Alemania</a>
    <a href="https://en.wikipedia.org/wiki/Italy" class="country-link italy" target="_blank">Italia</a>
    <a href="https://en.wikipedia.org/wiki/Japan" class="country-link japan" target="_blank">Japón</a>
    <a href="https://en.wikipedia.org/wiki/Brazil" class="country-link brazil" target="_blank">Brasil</a>
    <a href="https://en.wikipedia.org/wiki/Canada" class="country-link canada" target="_blank">Canadá</a>
    <a href="https://en.wikipedia.org/wiki/Russia" class="country-link russia" target="_blank">Rusia</a>
    <a href="https://en.wikipedia.org/wiki/China" class="country-link china" target="_blank">China</a>
    <a href="https://en.wikipedia.org/wiki/South_Africa" class="country-link south_africa" target="_blank">Sudáfrica</a>
    <a href="https://en.wikipedia.org/wiki/Mexico" class="country-link mexico" target="_blank">México</a>
    <a href="https://en.wikipedia.org/wiki/India" class="country-link india" target="_blank">India</a>
    <a href="https://en.wikipedia.org/wiki/Spain" class="country-link spain" target="_blank">España</a>
    <a href="https://en.wikipedia.org/wiki/United_Kingdom" class="country-link uk" target="_blank">Reino Unido</a>
    <a href="https://en.wikipedia.org/wiki/Hungary" class="country-link hungary" target="_blank">Hungría</a>
    <a href="https://en.wikipedia.org/wiki/Argentina" class="country-link argentina" target="_blank">Argentina</a>
    <a href="https://en.wikipedia.org/wiki/Chile" class="country-link chile" target="_blank">Chile</a>
    <a href="https://en.wikipedia.org/wiki/Morocco" class="country-link morocco" target="_blank">Marruecos</a>
</body>
</html>
